<a href="https://colab.research.google.com/github/asifiqbal/asif.github.io/blob/master/hello.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')

Hello World

In [0]:
import tensorflow as tf

In [3]:
import keras

Using TensorFlow backend.

In [1]:
!pip install boto3

Collecting boto3
  Downloading https://files.pythonhosted.org/packages/7a/7e/fe8faa29e771a09c528ee70e1fd9b317006021c48311ecccc78c22ebe739/boto3-1.9.37-py2.py3-none-any.whl (128kB)
    100% |████████████████████████████████| 133kB 4.4MB/s
Collecting botocore<1.13.0,>=1.12.37 (from boto3)
  Downloading https://files.pythonhosted.org/packages/d0/35/1461771f778b67984a75a9853a2b3ed25e65a4345e669a81b50c67c930ab/botocore-1.12.37-py2.py3-none-any.whl (4.7MB)
    100% |████████████████████████████████| 4.7MB 6.0MB/s
Collecting s3transfer<0.2.0,>=0.1.10 (from boto3)
  Downloading https://files.pythonhosted.org/packages/d7/14/2a0004d487464d120c9fb85313a75cd3d71a7506955be458eebfe19a6b1d/s3transfer-0.1.13-py2.py3-none-any.whl (59kB)
    100% |████████████████████████████████| 61kB 19.7MB/s
Collecting jmespath<1.0.0,>=0.7.1 (from boto3)
  Downloading https://files.pythonhosted.org/packages/b7/31/05c8d001f7f87f0f07289a5fc0fc3832e9a57f2dbd4d3b0fee70e0d51365/jmespath-0.9.3-py2.py3-none-any.whl
Collecting docutils>=0.10 (from botocore<1.13.0,>=1.12.37->boto3)
  Downloading https://files.pythonhosted.org/packages/36/fa/08e9e6e0e3cbd1d362c3bbee8d01d0aedb2155c4ac112b19ef3cae8eed8d/docutils-0.14-py3-none-any.whl (543kB)
    100% |████████████████████████████████| 552kB 10.3MB/s
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /usr/local/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.37->boto3) (2.5.3)
Requirement already satisfied: urllib3<1.25,>=1.20; python_version >= "3.4" in /usr/local/lib/python3.6/dist-packages (from botocore<1.13.0,>=1.12.37->boto3) (1.22)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil<3.0.0,>=2.1; python_version >= "2.7"->botocore<1.13.0,>=1.12.37->boto3) (1.11.0)
Installing collected packages: jmespath, docutils, botocore, s3transfer, boto3
Successfully installed boto3-1.9.37 botocore-1.12.37 docutils-0.14 jmespath-0.9.3 s3transfer-0.1.13

In [0]:
import boto3

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('sample_data/california_housing_test.csv')

In [9]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [1]:
import tensorflow as tf
device_name = tf.test.gpu_device_name()
if device_name != '/device:GPU:0':
  raise SystemError('GPU device not found')
print('Found GPU at: {}'.format(device_name))

Found GPU at: /device:GPU:0

In [3]:
import tensorflow as tf
import timeit

config = tf.ConfigProto()
config.gpu_options.allow_growth = True

with tf.device('/cpu:0'):
  random_image_cpu = tf.random_normal((100,100,100,3))
  net_cpu = tf.layers.conv2d(random_image_cpu, 32, 7)
  net_cpu = tf.reduce_sum(net_cpu)

with tf.device('/gpu:0'):
  random_image_gpu = tf.random_normal((100,100,100,3))
  net_gpu = tf.layers.conv2d(random_image_gpu, 32, 7)
  net_gpu = tf.reduce_sum(net_gpu)
  
sess = tf.Session(config=config)

try:
  sess.run(tf.global_variables_initializer())
except tf.errors.InvalidArgumentError:
  print('No GPU?')
  raise
  
def cpu():
  sess.run(net_cpu)
  
def gpu():
  sess.run(net_gpu)
  
print('Time to convolve 32x7x7x3 filter over random 100x100x100x3 images ')
print('CPU (s): ')
cpu_time = timeit.timeit('cpu()', number=10, setup="from __main__ import cpu")
print(cpu_time)

print('GPU (s): ')
gpu_time = timeit.timeit('gpu()', number=10, setup="from __main__ import gpu")
print(gpu_time)

print('GPU speedup over CPU: {}x',format(int(cpu_time/gpu_time)))

sess.close()

Time to convolve 32x7x7x3 filter over random 100x100x100x3 images
CPU (s):
8.506238995999865
GPU (s):
1.9064540379999926
GPU speedup over CPU: {}x 4

## Load from Github

To run a notebook like this https://github.com/minsuk-heo/deeplearning/blob/master/src/CNN_Tensorflow.ipynb

You have to format it like this
https://colab.research.google.com/github/minsuk-heo/deeplearning/blob/master/src/CNN_Tensorflow.ipynb